.bg-basic {
  &::before {
    content: "";
    position: fixed;
    background: url("../../../../../../public/bg.png") top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
    background-position: center;
  }
}
